.promptContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   
}
p{
    font-size: 1.2em;
    font-weight: 600;
    font-family: "Inconsolata", monospace;
}
.btn{
    display: flex;
    justify-content: center;
}
.prompt{
    width: 70%;
    background-color: transparent;

    .input{
        width: 100%;
    }
}

@media screen and (max-width:550px) {
    p{
        font-size: 1em;
        font-weight: 400;
        text-align: center;
    }
}
