<div class="account-container">
  <!-- Fancy Sidebar -->
  <div class="sidebar">
    <div class="sidebar-header">
      <h3>User Account</h3>
    </div>
    <ul class="nav-links">
      <li>
        <a routerLink="user-info" routerLinkActive="active"
          ><i class="fas fa-user"></i> User Information</a
        >
      </li>
      <li>
        <a routerLink="change-info" routerLinkActive="active"
          ><i class="fas fa-edit"></i> Change Information</a
        >
      </li>
      <li>
        <a routerLink="generated-images" routerLinkActive="active"
          ><i class="fas fa-images"></i> Sold Images</a
        >
      </li>
      <li>
        <a routerLink="purchased-images" routerLinkActive="active"
          ><i class="fas fa-shopping-bag"></i> Purchased Images</a
        >
      </li>
      <li><a href="" (click)="handleLogout()">Logout</a></li>
    </ul>
  </div>

  <!-- Main Content -->
  <div class="main-content">
    <router-outlet></router-outlet>
  </div>
</div>
